@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    padding: 30px;
    background: linear-gradient(to bottom, #0f2722 0%, #000000 100%);
}

.wrapper {
    margin: 0px auto;
    max-width: 400px;
    width: 100%;
    background: #a3f5e4;
    border-radius: 15px;
    padding: 5px;
}

.wrapper header {
    font-size: 30px;
    font-weight: 45px;
}

.wrapper .topEdit {
    height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-image: url('bg.jpg');
    position: relative;
}

.topEdit header {
    text-align: center;
}

.topEdit p {
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    font-size: 25px;
}

.wrapper .inputField {
    display: flex;
    height: 45px;
    width: 100%;
}

.inputField input {
    width: 85%;
    height: 100%;
    outline: none;
    background: rgb(240, 219, 219);
    border: 1px solid #ccc;
    font-size: 17px;
    border-radius: 40px;
    padding-left: 15px;
}

.inputField button {
    width: 60px;
    height: 100%;
    border: none;
    outline: none;
    background: green;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    border-radius: 15px;
    margin-left: 5px;
    opacity: 0.6;
    pointer-events: none;
}

.inputField button.active {
    opacity: 1;
    pointer-events: auto;
}

.todolist,
.completed {
    max-height: 250px;
    overflow-y: auto;
}

h3 {
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 30px;
}

li {
    list-style: none;
    height: 45px;
    line-height: 45px;
    position: relative;
    background: rgb(240, 135, 144);
    border-radius: 15px;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 0 15px;
    cursor: default;
}

.completed li {
    background: rgb(52, 219, 46);
}

li button {
    float: right;
    padding: 5px;
    font-size: 28px;
    line-height: 28px;
    margin-right: 15px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.wrapper .footer {
    display: flex;
    width: 100%;
    margin-top: 25px;
    align-items: center;
    justify-content: space-between;
}

#info_id {
    padding: 10px;
    font-size: 15px;
    font-weight: 30px;
    opacity: 0.7;
}

.footer button {
    border: none;
    outline: none;
    background: red;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 15px;
    padding: 6px 10px;
    opacity: 0.6;
    margin-left: 5px;
}

.footer button.active {
    opacity: 1;
    pointer-events: auto;
}